@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@keyframes moveDiagonal {

  0%,
  100% {
    translate: 0 0;
  }

  50% {
    translate: 5px -5px;
  }
}

.animate-move-diagonal {
  animation: moveDiagonal 1s ease-in-out infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  will-change: transform;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoom-in {
  animation: zoomIn 1.5s ease-out forwards;
}

.animate-left-right {
  animation: leftRight 1.4s ease-in-out infinite;
}

@keyframes leftRight {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(26px);
  }
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

@keyframes jump {

  0%,
  100% {
    translate: 0 0;
  }

  50% {
    translate: 0 -10px;
  }
}

.animate-jump-hover {
  display: inline-block;
  /* Ensure transform works if it wasn't a flex item */
}

.animate-jump-hover:hover {
  animation: jump 0.6s ease-in-out;
}

@keyframes frontBackMedium {
  0%,
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }

  50% {
    transform: translate3d(26px, -6px, 0) scale(1.08);
  }
}

.animate-front-back-medium {
  animation: frontBackMedium 1.6s ease-in-out infinite;
  will-change: transform;
}
